<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Hello</title>
    </head>
    <body>
        <form method="post" action="{{ route('store') }}">
            <button type="submit">Click</button>
        </form>
    </body> 
</html>