<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Hello</title>
    </head>
    <body>
        {% for user in users %}
            {{ user.username }} <br>
        {% endfor %}
        <form method="post" action="{{ route('store') }}">
            <button type="submit">Click</button>
        </form>
    </body>
</html>